.login-tabs {
  ::ng-deep .mat-mdc-tab-header {
    padding: 0 2rem;
    border-bottom: 1px solid #f3f4f6;
  }
  ::ng-deep .mat-mdc-tab .mdc-tab__text-label {
    font-weight: 600;
    font-size: 14px;
  }
  ::ng-deep .mat-mdc-tab-indicator .mdc-tab-indicator__content--underline {
    border-color: #0054A6;
  }
  ::ng-deep .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
    color: #0054A6;
  }
}
